# --- сервер ---
uvicorn==0.38.0
fastapi==0.115.2

# --- ORM ---
sqlalchemy==2.0.36

# --- Pydantic v2 ---
pydantic==2.9.2
pydantic-core==2.23.4

# --- Утилиты и консольные зависимости ---
click==8.3.0
colorama==0.4.6

# --- ASGI протокол ---
h11==0.16.0

# --- Тестирование ---
pytest==9.0.1
httpx==0.27.2
pytest-asyncio==0.24.0     # для async тестов FastAPI (не обязательно, но рекомендуется)

# --- В случае, если хочешь делать CORS ---
starlette==0.40.0
