@import "tailwindcss";

/* наши кастомные штуки: */
body {
  @apply bg-neutral-900 text-white;
}

.card {
  @apply border border-neutral-700 rounded-xl p-4 my-4 bg-neutral-800 shadow-md;
}
@import "tailwindcss";

/* наши кастомные штуки: */
body {
  @apply bg-neutral-900 text-white;
}

.card {
  @apply bg-neutral-800 border border-neutral-700 rounded-xl p-5 shadow-lg mb-5;
}

